/*! Place your custom styles here */
html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .btn{
	font-family: 'Noto Kufi Arabic', sans-serif;
}

/* colors */
.border-warning{
	    border: #FFC107;
}

.border-info{
	    border: #03a9f4;
}

.text-warning{
	    color: #FFC107;
}

.text-info{
	    color: #03a9f4;
}

.bar-1 .menu-horizontal > li > .dropdown__trigger, .bar-1 .menu-horizontal > li > a{
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 0px;
	margin-right: 20px;
}

.btn .btn__text, .btn i{
	font-weight: normal;
}

.color--gray {
  color: #929292;
}

textarea{
	resize: none;
}

.vcenter {
  padding-top: 30px;
  padding-bottom: 30px;
}

.label{
	line-height: inherit;
}

/* topics */
.project-item {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
    margin-bottom: .923077rem;
}

.project-item .post_vote{
    padding-right: 15px;
}

.project-item-title {
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40%;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	padding-right: 20px;
}

.project-item .description {
    font-size: .846154rem;
    color: #999;
}

.project-item-user {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
}

.project-item-user .user-avatar {
    margin-right: 12px;
}

.project-item-user .user-avatar img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 5px;
}

.project-item-user .user-info {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.project-item-user .user-avatar{
	    margin-right: 12px;
}
.project-item .description {
    font-size: .846154rem;
    color: #999;
}

.project-item-state {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
}

.project-item-date {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
}

/* Voting arrows */
.post_upvote, .post_downvote{
	font-size: 20px;
}

.post_points{
	font-size: 25px;
}

/* sidebar */
.sidebar{

}

.sidebar > li{
	padding: 10px;
	background: #fafafa;
	margin-bottom: 8px;
	border-radius: 4px;
}

.sidebar > li:hover{
	background: #f44336;
	color: white;
}

.sidebar > li > img{
	width: 25px;
	height: 30px;
	margin-left: 10px;
	margin-bottom: 0px;
}

/* font size of header icons */
.header-size{
    font-size: 17px;
}

/* lists of clubs */
.clubs-list{
    
}

.clubs-list img{
    width: 40px;
    height: 45px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.clubs-list .club{
    padding: 13px;
}

.clubs-list .club:hover{
    background: #f44336;
	color: white;
    border-radius: 5px;
}

/* gray bg */
.bg-gray{
    padding: 18px;
    background: rgba(20, 20, 20, 0.3);
}

/* LEague Table */
.results-table-wrap {
    background-color: #fff;
    font-size: 13px;
    color: #333;
    margin: 0 -10px 0 -10px;
}

.results-table {
    width: 100%;
    margin-bottom: 0 !important;
}

.results-table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.table-row-title {
    color: #333;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 700;
    background-color: #f1f1f1;
}

.td-title {
    padding-top: 10px;
}

.tbl-td {
    text-align: center;
    padding: 10px 8px;
    height: 30px;
    line-height: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 11px;
}

.results-table tbody .even {
    background-color: #fff;
}

.table-row {
    line-height: 30px;
    border-bottom: 1px solid #e6e6e6;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}

.tbl-td {
    text-align: center;
    padding: 10px 8px;
    height: 30px;
    line-height: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 11px;
}

.td-team {
    text-align: left;
}

.tbl-logo-wrap {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 1200px)
topclub-respons…s?ver=4.7.5:29
.tbl-logo-img {
    display: none;
}

.tbl-logo-img {
    display: inline-block;
    float: left;
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

@media only screen and (max-width: 1200px)
topclub-respons…s?ver=4.7.5:32
.table-team-name {
    width: auto;
    vertical-align: middle;
    height: auto;
    line-height: 15px;
}

/* Panel */
.panel {
    -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    border: 0!important;
    margin-bottom: 25px;
    border-radius: 0;
}

.panel-white {
    background: #fff;
    border: 1px solid #e9e9e9!important;
}

.panel .panel-heading {
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0!important;
    height: 55px;
    font-size: 14px;
    font-weight: 600;
}

.panel .panel-heading .panel-title {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.panel .panel-heading+.panel-body {
    padding: 0 20px 20px;
}

.panel .panel-body {
    position: relative;
    padding: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Fixtures */
.last-results-wrap {
    text-align: center;
}

.last-results-item {
    border: 1px solid #f1f1f1;
    margin-bottom: 5px;
}

.results-teams-wrap {
    padding: 5px 0;
}

.last-results-team {
    display: inline-block;
}

@media only screen and (max-width: 1200px)
.last-results-logo {
    display: none;
}

.last-results-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.results-logo-img {
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.last-results-name {
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    max-height: 40px;
    vertical-align: middle;
    overflow: hidden;
    text-transform: uppercase;
}

.last-results-vs {
    display: inline-block;
    font-size: 15px;
    padding: 3px 8px;
    background-color: #f1f1f1;
    color: #333;
    margin: 0 2px;
    vertical-align: middle;
    border-bottom: 2px solid #0070a0;
    font-weight: 700;
    min-width: 40px;
}

.result-divider {
    margin: 0 2px;
}

.results-item-info {
    padding: 5px 0;
    background-color: #f1f1f1;
    font-size: 12px;
    color: #929599;
}

.results-item-info span {
    vertical-align: middle;
}

/* menu in top bar */


.bar-3{
    font-size: 14px;
}

/* progress bar */
.progress {
    height: 0px;
    margin-bottom: 0px;
    overflow: inherit;
}

.progress .progress-bar {
    height: 8px;
    border-radius: .25rem;
}

.progress-bar {
    height: 1.692rem;
    color: #fff;
    /*background-color: #2cc185;*/
}

/* password strength */
.password-verdict{
    font-size: 13px;
    font-weight: bold;
}

.testimonial-2 {
    float: none;
    border: 1px solid rgba(104, 104, 104, 0.35);
    width: 100%;
    background: white;
    margin-bottom: 15px;
}

.testimonial .testimonial__image {
    margin-bottom: 0px; 
    margin: 15px;
}

.testimonial-2 .testimonial__image img {
    max-height: 3.71428571em;
    float: left;
    margin-right: 1.85714286em;
}

.testimonial-2:hover{
    background-color: #dbdada;
}

/* club page */
.club-cover{
    padding: 28px;
}

.club-cover img{
    width: 200px;
    height: 180px;
}

.club-cover p{
    font-size: 18px;
    margin-bottom: 0.857143em;
}

/* club menu */
.club-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.club-menu > nav > ul > li{
    padding-right: 5px;
    padding-left: 5px;
}

.club-menu > nav > ul > li > a{
    color: #252525;
    font-size: 17px;
    padding: 25px;
}

.club-menu > nav > ul > li.active, .club-menu > nav > ul > li > a:hover, .nav > li > a:focus
{
    background: #fafafa;
    border-radius: 5px;
}

/* filter menu */
ul.menu-filter{
    margin-bottom: 20px;
    font-size: 15px;
}

ul.menu-filter > li.active > a{
    border-bottom: 3px solid #676766;
    opacity: 1;
}

ul.menu-filter > li:hover{
    border-bottom: #676766;
}

/* Thread view */


/* breadcrumb */
.breadcrumb {
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
}

.breadcrumb-item {
    float: right;
}

.breadcrumb-item .icon {
    font-size: 1.4rem;
}

.breadcrumb-item.active {
    color: #636c72;
}

/* activity */
.activity{

}

.activity .post_vote{
    padding: 8px 28px 0px 0px;
}

.activity .post_points{
    font-size: 28px;
}

.activity .content{
    padding-right: 0px;
}

/* paginate */
.pagination {
    padding-left: 0;
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination > li{
    padding-left: 10px;
}

.pagination-rounded .page-item:first-child .page-link, .pagination-rounded .page-item:last-child .page-link{
    border-radius: 50%;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.pagination-rounded .page-link {
    color: #5cb860;
    border-radius: 50%;
    width: 2.692rem;
    height: 2.692rem;
    padding: .5rem .55rem;
    text-align: center;
    line-height: 1.6;
    vertical-align: middle;
}

.page-link {
    color: #5cb860;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: .6923rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5cb860;
    border-color: #5cb860;
}

/* Post */
.post .panel-heading{
    padding: 15px;
}

.post .post_upvote, .post .post_downvote{
	font-size: 30px;
}

.post .post_points{
	font-size: 28px;
}

.post .panel-body{
    margin-top: 20px;
}

.post .panel-body .user-avatar{
    padding-right: 15px; float: right;
}

.post .panel-body .user-avatar img{
    width: 100px;
    height: 100px;
}

.post .panel-body .text{
    padding-top: 5px;
}

/* panel footer */
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 0px solid #ddd;
}

.menu-horizontal > li > a{
    font-size: 16px;
}

.bar .logo{
    max-height: 140px;
    max-width: 140px;
}

.bg--secondary{
    background-color: #9c7c5f;
}