/***Preloader CSS ***/
.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('https://imgur.com/a/BlyhX') no-repeat center center; }

/***Global CSS***/
.dark-container
{
  background-color: #eae8e7;
      margin-bottom: 20px;
          border-radius: 10px;
}
.paddings
{
  padding: 13px;
}
hr
{
  height: 2px;
  background-color: #000;
}
/***Navbar CSS***/
.navbar-inverse .navbar-nav>li>a {
    color: #000;
    font-size: 17px;
    display: inline-block;
}
.navbar-inverse
{
  background-color:#FFF; 
  border-radius: 0; 
  border-color: #FFF; 
  margin-bottom:  0px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #069;
    background-color: transparent;
}

.navbar-toggle
{
  background-color: #4b66ad; 
  margin-top:45px;
}

.logo
{
  width: 200px;
}

.nav-sep
{
  display: inline-block;
}
/***Slider CSS***/
.fade-carousel {
    position: relative;

}
.fade-carousel .carousel-inner .item {

}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;

}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;

}

.fa
{
  font-size: 22px;
   color: #7685ac;
}
.icon-Administrator
{
  font-size: 22px;
   color: #7685ac;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {

    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {

    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .1;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}



.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 10px;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content1 {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content1 .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content1:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 200px;
  height: 196px;
  border-radius: 10px;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 200px;
  top: 90%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  display: block;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  margin-top: 10px;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 50%;
}

.fadeIn-right{
  left: 80%;
}

.test
{
  text-align: center;
  color: #FFF;
}

.content:hover .test{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.test h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

  /*Process Area CSS*/
.process-area {
  overflow: hidden;
}
.process-left {
  background: #fff none repeat scroll 0 0;
}

.process-left
.devider hr {
    border-bottom: 5px solid #ddd;
    margin: 20px 0;
    width: 77px;
}

.single-process {
  padding: 15px;
}

.process-icon i {
  font-size: 30px;
}
.process-content{}
.process-content h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  margin: 0;
}
/*
* ----------------------------------------------------
*   4. SERVICE AREA
* ----------------------------------------------------
*/

.service-box {
    padding-left: 90px;
    position: relative;
  transition: all 0.4s;
}

.service-icon {
    font-size: 30px;
    left: 0;
    position: absolute;
    top: 0px;
    border: 1px solid #ededed;
    padding: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 30px;
  transition: all 0.4s;
}

.service-box:hover .service-icon{
  color:#fff;
  background:#303133;
}

.service-box:hover .service-icon i{
  color:#fff;
}

.service-icon i {
  color: #303133;
}

.service-content h4 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  text-transform: uppercase;
}


.bg-gray {
  transition: all 0.4s ease 0s;
  border: 1px solid #000;
}


.bg-gray:hover{
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 2px rgba(53, 49, 49, 0.1);
}

.single-process:before,
.single-process:after {
    position: absolute;
    content: "";
    background-color: #303133;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 0;
    width: 3px;
}
.single-process:before {
    top: 0;
    left: 16px;
}
.single-process:after {
    bottom: 0;
    right: 15px;
}
.single-process:hover:before,
.single-process:hover:after {
    height: 90px;
}
.service-bar {
    position: absolute;
    content: "";
    left: 16px;
    top: 0;
    height: 100%;
    width: 100%;
}
.single-process .service-bar:before,
.single-process .service-bar:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: #303133;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-process .service-bar:before {
    right: 50%;
    top: 0;
}
.single-process .service-bar:after {
    right: 31px;
    bottom: 0;
}
.single-process:hover .service-bar:after,
.single-process:hover .service-bar:before {
    width: 50%;
}
.single-process:hover {
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.12);
}
.single-process:hover .service-icon {
    background-color: #333;
}

.footer_link
{
  color:#FFF;
  padding-right: 20px;
  font-size: 14px;
}
.footer_link:hover
{
     color: #ffffff;
  /*text-decoration: underline;*/
}
}
.social-icons .fa {
font-size: 1.1em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
color: #FFF;
color: rgba(255, 255, 255, 0.8);
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
border-radius: 50%;
}
.social-icons.icon-rounded .fa{
border-radius:5px;
}
.social-icons.icon-flat .fa{
border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
color: #FFF;
-webkit-box-shadow: 1px 1px 3px #333;
-moz-box-shadow: 1px 1px 3px #333;
box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
-webkit-transform: scale(1.1) rotate(360deg);
-moz-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}


.carousel-inner{
  height: 450px;
}
.divider > li:not(:last-child){
  border-right: 1px solid #e3e3e3;
  padding-right: 4px;
  padding-left: 4px;
}
.space > li{
  padding-right: 17px;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .mbo-container{
      width: 950px;
  }
}

hr{
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.form-control{
  padding: 20px 10px; margin-bottom: 10px;
}
::-webkit-input-placeholder{
  font-size: 16px;
}
.modal-body{
  font-size: 17px;
}